<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <title>Canuckington Post</title>
    <link href="css/global.css" rel="stylesheet" type="text/css" media="screen"
      charset="utf-8" />
  </head>
  <body>
    <!-- BEGIN TOP -->
    <div id="top">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Submit a Story</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <!-- END TOP -->
    <!-- BEGIN HEADER -->
    <div id="header">
      <div id="logo"> <a href="#"><img src="img/wireframe/logo.png" alt="" /></a>
      </div>
      <div id="ad"> <img src="img/ad-blank.png" alt="" /> </div>
    </div>
    <!-- END HEADER -->
    <!-- BEGIN NAV -->
    <div id="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Archive</a></li>
        <li><a href="#">Local</a></li>
        <li><a href="#">World</a></li>
        <li><a href="#">Politics</a></li>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Science &amp; Technology</a></li>
        <li class="last"><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- END NAV -->
    <!-- BEGIN SUB NAV -->
    <div id="sub-nav">
      <ul>
        <li class="title">Stay in the know:</li>
        <li><a href="#">Blogs</a></li>
        <li>|</li>
        <li><a href="#">Video Gallery</a></li>
        <li>|</li>
        <li><img src="img/icons/rss.png" alt="" /><a href="#">Subscribe</a></li>
        <li>|</li>
        <li><img src="img/icons/twitter.png" alt="" /><a href="#">Twitter</a></li>
      </ul>
    </div>
    <p>
      <!-- END SUB NAV -->
      <!-- BEGIN CONTENT WRAPPER --> </p>
    <br />
    <div id="content-wrapper">
      <div id="main-headline" style="width:100%">
        <p class="ise-c-text__content gel-body-copy">Who Are We? </p>
        <p class="ise-c-text__content gel-body-copy">We’re impartial and
          independent, and every day we create distinctive, world-class
          programmes and content which inform, educate and entertain millions of
          people in the UK and around the world.</p>
        <p class="ise-c-text__content gel-body-copy">We do this across:</p>
        <ul class="ise-c-text__list ise-c-text__content gel-body-copy">
          <li>A portfolio of television services, including the UK’s
            most-watched channel BBC One, the pioneering online-only youth
            service BBC Three, and our multi award-winning channels for
            children, as well as national and regional television programmes and
            services across England. Northern Ireland, Scotland and Wales</li>
          <li>Ten UK-wide radio networks, providing the best live music
            broadcasting in the UK, as well as speech radio which informs,
            educates and entertains. We also have two national radio services
            each in Scotland, Wales and Northern Ireland and 39 local radio
            stations across England and the Channel Islands, providing an
            invaluable and unique service to listeners across the UK</li>
          <li>Our digital services including BBC News, Sport, Weather CBBC and
            CBeebies, iPlayer and BBC Sounds, BBC Red Button and our vast
            archive</li>
          <li><a href="https://www.bbc.com/aboutthebbc/whatwedo/worldservice">BBC
              World Service</a> television, radio and online on more than 40
            languages</li>
          <br />
        </ul>
        <h2 id="whatwedo" class="gel-trafalgar-bold ise-l-section-title ise-c-promo-wrapper__title">What
          we do</h2>
        <p></p>
        <div id="extras">
          <div id="cartoon">
            <h2 class="heading">Humour</h2>
            <img src="img/cartoon.jpg" alt="" /> </div>
          <div id="cartoon">
            <h2 class="heading">Humour</h2>
            <img src="img/cartoon.jpg" alt="" /> </div>
          <div id="cartoon">
            <h2 class="heading">Humour</h2>
            <img src="img/cartoon.jpg" alt="" /> </div>
        </div>
        <h2 id="whoweare" class="gel-trafalgar-bold ise-l-section-title ise-c-promo-wrapper__title">Who
          we are</h2>
        <h2 id="whatwedo" class="gel-trafalgar-bold ise-l-section-title ise-c-promo-wrapper__title"></h2>
        <p></p>
        <div id="extras">
          <div id="cartoon">
            <h2 class="heading">Person 1</h2>
            <img src="img/cartoon.jpg" alt="" /> </div>
          <div id="cartoon">
            <h2 class="heading">Person 2</h2>
            <img src="img/cartoon.jpg" alt="" /> </div>
          <div id="cartoon">
            <h2 class="heading">Person 3</h2>
            <img src="img/cartoon.jpg" alt="" /> </div>
        </div>
        <div id="extras">
          <div id="cartoon">
            <h2 class="heading">Person 4</h2>
            <img src="img/cartoon.jpg" alt="" /> </div>
          <div id="cartoon">
            <h2 class="heading">Person 5</h2>
            <img src="img/cartoon.jpg" alt="" /> </div>
          <div id="cartoon">
            <h2 class="heading">Person 6</h2>
            <img src="img/cartoon.jpg" alt="" /> </div>
        </div>
        <h2 id="audiencefeedback" class="gel-trafalgar-bold ise-l-section-title ise-c-list__title">Audience
          feedback</h2>
        <ul>
          <li><a href="#">Submit a story<br />
            </a></li>
          <li><a href="#">Submit a feedback<br />
            </a></li>
          <li><a href="#">Share and Tell your friends<br />
            </a></li>
          <li class="last"><a href="#">Subscribe to our monthly issues<br />
            </a></li>
        </ul>
      </div>
    </div>
    <!-- END CONTENT WRAPPER-->
    <!-- BEGIN FOOTER -->
    <div id="footer">
      <ul>
        <li>©2010 <a href="#">Name Here</a></li>
        <li>|</li>
        <li><a href="#">FAQ</a></li>
        <li>|</li>
        <li><a href="#">Privacy Policy</a></li>
        <li>|</li>
        <li><a href="#">Careers</a></li>
        <li>|</li>
        <li><a href="#">Advertise</a></li>
        <li>|</li>
        <li><a href="#">Sitemap</a></li>
        <li>|</li>
        <li>Designed by <a href="http://www.skyrocketlabs.com/">Skyrocket Labs</a></li>
      </ul>
    </div>
    <!-- END FOOTER -->
  </body>
</html>
