<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <title>Canuckington Post</title>
    <link href="css/global.css" rel="stylesheet" type="text/css" media="screen"

      charset="utf-8" />
  </head>
  <body>
    <!-- BEGIN TOP -->
    <div id="top">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Submit a Story</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <!-- END TOP -->
    <!-- BEGIN HEADER -->
    <div id="header">
      <div id="logo"> <a href="#"><img src="img/wireframe/logo.png" alt="" /></a>
      </div>
      <div id="ad"> <img src="img/ad-blank.png" alt="" /> </div>
    </div>
    <!-- END HEADER -->
    <!-- BEGIN NAV -->
    <div id="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Archive</a></li>
        <li><a href="#">Local</a></li>
        <li><a href="#">World</a></li>
        <li><a href="#">Politics</a></li>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Science &amp; Technology</a></li>
        <li class="last"><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- END NAV -->
    <!-- BEGIN SUB NAV -->
    <div id="sub-nav">
      <ul>
        <li class="title">Stay in the know:</li>
        <li><a href="#">Blogs</a></li>
        <li>|</li>
        <li><a href="#">Video Gallery</a></li>
        <li>|</li>
        <li><img src="img/icons/rss.png" alt="" /><a href="#">Subscribe</a></li>
        <li>|</li>
        <li><img src="img/icons/twitter.png" alt="" /><a href="#">Twitter</a></li>
      </ul>
    </div>
    <!-- END SUB NAV -->
    <!-- BEGIN CONTENT WRAPPER -->
    <div id="content-wrapper">
      <div id="main-headline" style="width:100%">
        <h1 class="heading">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit</h1>
        <img src="img/blank.jpg" alt="" style="width:100%;height:100%" />
        <p class="author">Name Here | <span>09.18.09</span></p>
        <p>Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur
          suscipit ut justo.Lorem ipsum dolor sit amet, consectetur adipiscing
          elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum
          dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet,
          consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur
          adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing
          elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum
          dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet,
          consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur
          adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing
          elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum
          dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet,
          consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur
          adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing
          elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum
          dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet,
          consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur
          adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing
          elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum
          dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet,
          consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur
          adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing
          elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum
          dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet,
          consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur
          adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing
          elitLorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum
          dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet,
          consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur
          adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
    <!-- END CONTENT WRAPPER-->
    <!-- BEGIN EXTRAS -->
    <div id="extras">
      <div id="recommended">
        <h2 class="heading">Recommended Stories</h2>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
              elit »</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
              elit »</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
              elit »</a></li>
          <li class="last"><a href="#">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit »</a></li>
        </ul>
      </div>
      <div id="programs">
        <h2 class="heading">What's On Tonight</h2>
        <img src="img/rick.jpg" alt="" /> <img src="img/cbc.png" alt="" /> </div>
      <div id="cartoon">
        <h2 class="heading">Humour</h2>
        <img src="img/cartoon.jpg" alt="" /> </div>
    </div>
    <!-- END EXTRAS -->
    <!-- BEGIN FOOTER -->
    <div id="footer">
      <ul>
        <li>©2010 <a href="#">Name Here</a></li>
        <li>|</li>
        <li><a href="#">FAQ</a></li>
        <li>|</li>
        <li><a href="#">Privacy Policy</a></li>
        <li>|</li>
        <li><a href="#">Careers</a></li>
        <li>|</li>
        <li><a href="#">Advertise</a></li>
        <li>|</li>
        <li><a href="#">Sitemap</a></li>
        <li>|</li>
        <li>Designed by <a href="http://www.skyrocketlabs.com/">Skyrocket Labs</a></li>
      </ul>
    </div>
    <!-- END FOOTER -->
    
  </body>
</html>
