<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
<title>Ethiopian Post</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ url_for("static", filename="css/global.css") }}" type="text/css" />
</head>
<body>
  <!-- BEGIN TOP -->
  <div id="top">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Submit a Story</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
  <!-- END TOP -->
<!-- BEGIN HEADER -->
<div id="header">
  <div id="logo"><h1>ETHIOPIAN POST</h1></div>
</div>
<!-- END HEADER -->
<!-- BEGIN NAV -->
<div id="nav">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Archive</a></li>
    <li><a href="#">Local</a></li>
    <li><a href="#">World</a></li>
    <li><a href="#">Politics</a></li>
    <li><a href="#">Entertainment</a></li>
    <li><a href="#">Sports</a></li>
    <li><a href="#">Science &amp; Technology</a></li>
    <li class="last"><a href="#">Contact</a></li>
  </ul>
</div>
<!-- END NAV -->
<!-- BEGIN CONTENT WRAPPER -->
<div id="content-wrapper">
  <!-- BEGIN MAIN -->
  <div id="main">
    <div id="headlines">
      <div id="main-headline">
        <h2 class="heading">Main Story</h2>
        <img src="{{news[0].img_url}}" alt="" />
        <h1><a href="#">{{news[0].headline}}</a></h1>
        <p class="author">Name Here | <span>09.18.09</span></p>
        <p>{{news[0].content}}</p>
        <p><a href="#">Full story &raquo;</a></p>
        <h2 class="heading">Trending</h2>
        <img src="{{news[4].img_url}}" alt="" />
        <h1><a href="#">{{news[4].headline}}</a></h1>
        <p>{{news[4].content}}</p>
        <p><a href="#">Full story &raquo;</a></p>
      </div>
      <div id="more-headlines">
        <h2 class="heading">Featured Stories</h2>
        <h2><a href="#">{{news[1].headline}}</a></h2>
        <img src="{{news[1].img_url}}" alt="" class="righty"/>
        <p>{{news[1].content}}</p>
        <p><a href="#">Full article &raquo;</a></p>
        <h3><a href="#">{{news[2].headline}}</a></h3>
        <img src="{{news[2].img_url}}" alt="" class="righty"/>
        <p>{{news[2].content}}</p>
        <p><a href="#">Full article &raquo;</a></p>
        <h3><a href="#">{{news[3].headline}}</a></h3>
        <img src="{{news[3].img_url}}" alt="" class="righty"/>
        <p>{{news[3].content}}</p>
        <p><a href="#">Full article &raquo;</a></p>
      </div>
    </div>
  </div>
  <!-- END MAIN -->
  <!-- BEGIN SIDEBARS -->
  <div id="sidebars">
    <!-- BEGIN ADS -->
    <a href="#"><img src="img/side-ad.png" alt="" class="ad" /></a> <a href="#"><img src="img/side-ad.png" alt="" class="ad-right" /></a> <a href="#"><img src="img/side-ad.png" alt="" class="ad" /></a> <a href="#"><img src="img/side-ad.png" alt="" class="ad-right" /></a>
    <!-- END ADS -->
    <h2 class="heading-blue">Sports Headlines</h2>
    <img src="img/wayne.jpg" alt="" />
    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
    <p>Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
    <p><a href="#">More headlines &raquo;</a></p>
  </div>
  <!-- END SIDEBARS -->
</div>
<!-- END CONTENT WRAPPER-->
<!-- BEGIN EXTRAS -->
<div id="extras">
  <div id="recommended">
    <h2 class="heading">Recommended Stories</h2>
    <ul>
      <li><a href="#">{{news[0].headline}} &raquo;</a></li>
      <li><a href="#">{{news[1].headline}} &raquo;</a></li>
      <li><a href="#">{{news[2].headline}} &raquo;</a></li>
      <li class="last"><a href="#">{{news[3].headline}} &raquo;</a></li>
    </ul>
  </div>
  <div id="programs">
    <h2 class="heading">What's On Tonight</h2>
    <img src="img/rick.jpg" alt="" /> <img src="img/cbc.png" alt="" /> </div>
  <div id="cartoon">
    <h2 class="heading">Humour</h2>
    <img src="img/cartoon.jpg" alt="" /> </div>
</div>
<!-- END EXTRAS -->
<!-- BEGIN FOOTER -->
<div id="footer">
  <ul>
    <li>&copy;2010 <a href="#">Name Here</a></li>
    <li>|</li>
    <li><a href="#">FAQ</a></li>
    <li>|</li>
    <li><a href="#">Privacy Policy</a></li>
    <li>|</li>
    <li><a href="#">Careers</a></li>
    <li>|</li>
    <li><a href="#">Advertise</a></li>
    <li>|</li>
    <li><a href="#">Sitemap</a></li>
    <li>|</li>
    <li>Designed by <a href="http://www.skyrocketlabs.com/">Skyrocket Labs</a></li>
  </ul>
</div>
<!-- END FOOTER -->
</body>
</html>
